@charset "UTF-8";
/* CSS Document */

@media screen and (min-width: 320px) {
  /* スマホ用レイアウト 320px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
  　　てのひらの特徴
  ==============================================================*/
  .about-block {
    margin-bottom: 60px;
  }

  .features-item {
    margin-bottom: 50px;
  }

  .features-item__image {
    width: 100%;
    height: 220px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .features-item__image.left {
    border-radius: 0 64px 0 0;
  }
  .features-item__image.right {
    border-radius: 64px 0 0 0;
  }

  .features-item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .features-item__lead {
    padding: 0 20px;
  }

  .features-item__title {
    font-family: var(--font-ja);
    font-size: 24px;
    letter-spacing: 0.25rem;
    line-height: 1.8;
    margin-bottom: 20px;
    font-weight: 600;
  }

  .features-item__text {
    font-size: 14px;
    letter-spacing: 0.15rem;
    line-height: 1.6;
    margin-bottom: 20px;
  }

  /*==============================================================
  　　院長の紹介
  ==============================================================*/
  .director__image {
    width: 100%;
    height: 220px;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .director__image.left {
    border-radius: 0 64px 0 0;
  }

  .director__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 14%;
  }

  .director-item__lead {
    padding: 0 20px;
  }

  .director-item__title {
    font-family: var(--font-ja);
    font-size: 24px;
    letter-spacing: 0.06rem;
    line-height: 1.8;
    margin-bottom: 20px;
  }

  .director-item__title .position {
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 550;
  }

  .director-item__title .name {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 5px;
  }

  .director-item__title .name-kana {
    font-size: 16px;
    font-weight: 550;
    margin-bottom: 5px;
  }

  .director-item__text {
    font-size: 14px;
    margin-bottom: 20px;
    line-height: 1.5;
  }

  /*==============================================================
  　　画像
  ==============================================================*/
  .about-deco__image {
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-top: 80px;
    margin-bottom: 40px;
  }

  .about-deco__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /*==============================================================
  　　ご利用について
  ==============================================================*/
  .guide-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    text-align: center;
    gap: 8px;
    padding: 30px 20px;
    margin-top: 4px;
  }

  .guide-item {
    box-shadow: 0 0 4px #0000001f;
    /* margin: 0 30px; */
    aspect-ratio: 1 / 1;
    border-radius: 20px;
  }

  .guide-item a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 30px;
    display: grid;
    place-content: center;
    place-items: center;
  }

  .guide-item__icon {
    width: auto !important;
    height: 64px !important;
    margin-top: 8px;
  }

  .guide-item__title {
    font-family: var(--font-ja);
    font-size: 15px;
    margin-top: 24px;
    letter-spacing: 0.25em;
    font-weight: 500;
  }


}

@media screen and (min-width: 640px) {
  /* タブレット用レイアウト 640px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
  　　TB_てのひらの特徴
  ==============================================================*/
  .about-block {
    margin-bottom: 120px;
  }

  .features-item {
    margin-bottom: 60px;
  }

  /* 画像 */
  .features-item__image {
    height: 420px;
    margin-bottom: 40px;
  }
  .features-item__image.left {
    padding-right: 56px;
  }
  .features-item__image.right {
    padding-left: 56px;
  }

  /* 画像（角丸） */
  .features-item__image.left img {
    border-radius: 0 80px 0 0;
  }
  .features-item__image.right img {
    border-radius: 80px 0 0 0;
  }

  /* テキスト */
  .features-item__lead {
    padding: 0 56px;
  }

  /* .features-item__lead.right {
    padding: 0 90px 0 40px;
  }
  .features-item__lead.left {
    padding: 0 40px 0 90px;
  } */

  .features-item__title {
    font-size: 28px;
    margin-bottom: 30px;
  }

  .features-item__text {
    font-size: 16px;
    line-height: 2.125;
    margin-bottom: 40px;
  }

  /*==============================================================
  　　TB_院長の紹介
  ==============================================================*/
  .director__image {
    height: 420px;
    margin-bottom: 40px;
    padding-right: 40px;
  }

  .director__image img {
    border-radius: 0 80px 0 0;
    object-position: 0% 14%;
  }

  .director-item__lead {
    padding: 0 56px;
  }

  .director-item__title .name {
    font-size: 35px;
  }

  .director-item__text {
    font-size: 16px;
    line-height: 2.1;
  }

  /*==============================================================
  　　TB_画像
  ==============================================================*/
  .about-deco__image {
    height: 400px;
    margin-top: 150px;
    margin-bottom: 40px;
    padding-right: 56px;
  }

  .about-deco__image img {
    border-radius: 0 160px 0 0;
  }

  /*==============================================================
  　　TB_ご利用について
  ==============================================================*/
  .guide-list {
    gap: 30px;
    padding: 90px 40px 30px;
    margin-top: 8px;
  }

  .guide-item__icon {
    height: 130px !important;
    margin-top: 0;
  }

  .guide-item__title {
    font-size: 20px;
    margin-top: 56px;
    letter-spacing: 0.25em;
  }


}

@media screen and (min-width: 1024px) {
  /* パソコン用レイアウト 1024px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
  　　PC_てのひらの特徴
  ==============================================================*/
  .features-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 90px;
  }

  /* 画像 */
  .features-item__image {
    height: 320px;
    margin-bottom: 0;
  }
  .features-item__image.left {
    padding-right: 0;
  }
  .features-item__image.right {
    padding-left: 0;
    grid-column: 2;
    grid-row: 1;
  }

  /* 画像（角丸） */
  .features-item__image.left img {
    border-radius: 0 80px 0 0;
  }
  .features-item__image.right img {
    border-radius: 80px 0 0 0;
  }

  /* テキスト */
  .features-item__lead.right {
    padding: 0 90px 0 0;
  }
  .features-item__lead.left {
    padding: 0 0 0 90px;
    grid-column: 1;
    grid-row: 1;
  }

  .features-item__title {
    margin-bottom: 40px;
  }

  .features-item__text {
    margin-bottom: 20px;
  }

  /*==============================================================
  　　PC_院長の紹介
  ==============================================================*/
  .director-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 90px;
  }

  .director__image {
    height: 320px;
    margin-bottom: 0;
    padding-right: 0;
  }

  .director-item__lead {
    padding: 0 90px 0 0;
  }

  .director-item__title {
    margin-bottom: 40px;
  }

  /*==============================================================
  　　PC_画像
  ==============================================================*/
  .about-deco__image {
    height: 420px;
    margin-bottom: 60px;
  }

  .about-deco__image img {
    object-position: 50% 25%;
  }


  /*==============================================================
  　　PC_ご利用について
  ==============================================================*/
  .guide-list {
    max-width: 1120px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    gap: 8px;
    padding: 120px 40px 40px;
    margin: 0 auto;
  }

  .guide-item__icon {
    height: 106px !important;
    margin-top: 8px;
  }

  .guide-item__title {
    font-size: 18px;
    margin-top: 40px;
  }

}

@media screen and (min-width: 1400px) {
  /* パソコン用レイアウト 1400px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
    　　PC-big_てのひらの特徴
  ==============================================================*/
  .features .block-title {
    margin-bottom: 80px;
  }

  .features-item {
    grid-template-columns: 1fr 1.1fr;
  }

  /* 画像 */
  .features-item__image {
    height: 480px;
    margin-bottom: 40px;
  }

  /* 画像（角丸） */
  .features-item__image.left img {
    border-radius: 0 120px 0 0;
  }
  .features-item__image.right img {
    border-radius: 120px 0 0 0;
  }

  /* テキスト */
  .features-item__lead {
    max-width: 620px;
  }
  .features-item__lead.right {
    margin: 0 auto 0 0;
  }
  .features-item__lead.left {
    margin: 0 0 0 auto;
  }

  /*==============================================================
  　　PC-big_院長の紹介
  ==============================================================*/
  .director .block-title {
    margin-bottom: 76px;
  }

  .director-inner {
    grid-template-columns: 1fr 1.1fr;
  }

  .director__image {
    height: 480px;
    margin-bottom: 40px;
  }

  .director__image img {
    border-radius: 0 120px 0 0;
  }

  /*==============================================================
  　　PC-big_画像
  ==============================================================*/
  .about-deco__image {
    height: 500px;
    padding-right: 86px;
  }


}