@charset "UTF-8";
/* CSS Document */

@media screen and (min-width: 320px) {
  /* スマホ用レイアウト 320px以上の範囲に収めるデザインはこの中に記述 */

  /*==============================================================
  　　よくある質問
  ==============================================================*/
  .faq-toggle {
    display: none;
  }

  .faq-box {
    font-weight: 400;
    font-size: 16px;
    /* margin-bottom: 30px; */
    padding: 10px 20px 70px;
  }
  .faq-box .faq-item {
    background-color: var(--color-bg-faq);
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .faq-title {
    display: block;
    padding: 30px 16px 30px 16px;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.6;
    display: flex;
    font-size: 16px;
    align-items: center;
    letter-spacing: .184em;
    color: var(--color-text-base);
  }

  .faq-item__arrow {
    position: absolute;
    top: 38px;
    right: 16px;
    width: 25px;
    height: 25px;
    transition: all 0.3s;
    margin: auto 0;
    transform: rotate(90deg);
  }

  .faq-box .title-text {
    letter-spacing: .073em;
    line-height: 1.5;
    /* margin-top: -1px; */
    align-items: start;
    font-size: 16px;
    font-weight: 600;
    margin-right: 14px;
  }

  .text-Q,
  .faq-A {
    display: flex;
  }

  .text-Q {
    width: 100%;
    padding-top: 4px;
  }

  .text-Q__num {
    /* font-family: var(--font-en); */
    line-height: 1.3;
    margin-right: 10px;
    margin-top: -1.5px;
    font-size: 20px;
    letter-spacing: 0.03em;
    font-weight: 500;
  }

  .text-A__num {
    /* font-family: var(--font-en); */
    margin-right: 10px;
    font-weight: 450;
    color: var(--color-text-sub);
    font-size: 20px;
    margin-left: 2px;
    margin-top: -5px;
  }

  .faq-content {
    max-height: 0;
    overflow: hidden;
  }

  .faq-content .con-text a {
    color: var(--color-text-accent);
    font-weight: bold;
    line-height: 2.3;
  }

  .faq-content .con-text .margin-bottom {
    margin-bottom: 24px;
  }

  .faq-content .faq-A {
    line-height: 1.71;
    letter-spacing: .073em;
    padding: 8px 16px 34px;
    font-weight: 400;
    font-size: 14px;
    margin-top: -4px;
  }

  .faq-content {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all 0.3s;
  }

  .faq-toggle:checked + .faq-title + .faq-content {
    max-height: 500px;
    transition: all 1.5s;
  }

  .faq-title {
    position: relative;
  }

  /* トグルアイコン */
  .faq-icon {
    display: grid;
    place-items: center;
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    position: relative;
    margin-left: 14px;
    top: -2px;
    flex-shrink: 0;
    margin: 0 0 0 auto;
    transition: transform .4s;
  }

  .faq-toggle:checked + .faq-title .faq-icon {
    transform: rotate(180deg);
  }

  /*======== 空き状況 ========*/
  .sec.availability {
    padding-top: 0;
    padding-bottom: 60px;
  }

}

@media screen and (min-width: 640px) {
  /* タブレット用レイアウト 640px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
  　　TB_よくある質問
  ==============================================================*/
  .faq-box {
    margin: 0 20px;
    padding: 20px 20px 120px;
  }

  .faq-box .faq-item {
    margin-bottom: 30px;
  }

  .faq-title {
    padding: 30px;
  }

  .faq-box .title-text {
    font-size: 18px;
    padding-top: 6px;
    letter-spacing: 0.1em;
  }

  .text-Q {
    margin-top: 0;
  }

  .text-Q__num {
    margin-right: 16px;
    margin-top: 5px;
    font-weight: 500;
    font-size: 21px;
  }

  .text-A__num {
    margin-right: 18px;
    font-size: 21px;
    margin-left: 2px;
    margin-top: -4px;
  }

  .faq-content .faq-A {
    padding: 0 30px 40px;
    font-size: 17px;
    margin-top: -3px;
    letter-spacing: 0.1em;
  }

  /* トグルアイコン */
  .faq-icon {
    width: 40px;
    height: 40px;
  }

}

@media screen and (min-width: 1024px) {
  /* パソコン用レイアウト 1024px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
  　　PC_よくある質問
  ==============================================================*/
  .faq-block {
    max-width: 1120px;
    margin: 0 auto;
  }

  .faq-box {
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 140px;
  }

  .faq-link {
    margin-top: 80px;
  }

  .faq-box .title-text {
    letter-spacing: 0.14em;
  }

  .faq-content .faq-A {
    letter-spacing: 0.14em;
    line-height: 1.7;
  }

}

@media screen and (min-width: 1400px) {
  /* パソコン用レイアウト 1400px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
    　　PC-big_よくある質問
  ==============================================================*/
  /*======== アニメーション ========*/
  .faq-title .text-Q__num,
  .faq-title .title-text {
    transition: all 0.3s ease;
  }

  .faq-title:hover .text-Q__num,
  .faq-title:hover .title-text {
    opacity: 0.65;
  }

}