@charset "UTF-8";
/* CSS Document */

@media screen and (min-width: 320px) {
  /* スマホ用レイアウト 320px以上の範囲に収めるデザインはこの中に記述 */
  #strengths,
  #availability,
  #review {
    scroll-margin-top: 70px;
  }

  /*==============================================================
    　　ヒーロー
  ==============================================================*/
  .hero__image {
    margin-top: 80px;
    height: 212px;
    margin-left: 20px;
    overflow: hidden;
    border-radius: 15% 0 0 0 / 25% 0 0 0;
  }

  .hero__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .hero-swiper {
    position: relative;
    padding-bottom: 30px;
  }

  /* ドット */
  .hero-swiper .swiper-pagination {
    bottom: 0;
  }

  .hero-swiper .swiper-pagination-bullet {
    background-color: var(--color-text-sub);
    opacity: 1;
    margin: 0 8px !important;
  }

  .hero-swiper .swiper-pagination-bullet-active {
    background-color: var(--color-text-base);
  }

  /*==============================================================
    　　こんなお悩みありませんか？
  ==============================================================*/
  .concerns .section-title__ja {
    letter-spacing: 0.1em;
    font-size: 25px;
  }


  .concerns-list {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    text-align: center;
    /* align-items: center; */
    row-gap: 35px;
  }

  .concerns-item__text-bg {
    position: relative;
    width: 260px;
    margin: 0 auto;
    padding: 30px 20px;
    font-size: 15px;
    background-color: var(--color-bg-concerns);
    color: var(--color-text-concerns);
    letter-spacing: 0.15em;
    line-height: 2;
    font-weight: 600;
    border-radius: 13px;
  }

  .concerns-item__text-bg::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    pointer-events: none;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 16px solid var(--color-bg-concerns);
  }

  .concerns-item__img {
    width: auto;
    height: 240px;
    margin-top: 30px;
  }

  /*==============================================================
    　　選ばれてる理由
  ==============================================================*/
  .strengths-item {
    margin-bottom: 30px;
  }
  .strengths-item.end {
    margin-bottom: 0;
  }

  .strengths-item__image {
    width: auto;
    height: 100%;
    overflow: hidden;
    aspect-ratio: 9 / 7;
    border-radius: 20px;
  }

  .strengths-item__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .strengths-lead {
    padding: 70px 0 35px 20px;
    margin: -40px 0 0 20px;
    position: relative;
    border-left: 1px solid var(--color-line-item);
  }

  .strengths-lead__title {
    font-size: 26px;
    font-weight: 500;
    font-family: var(--font-ja);
    margin-bottom: 10px;
    letter-spacing: 0.14em;
  }

  .strengths-lead__text {
    font-size: 14px;
    line-height: 1.6;
  }

  /*==============================================================
    　　てのひらについて
  ==============================================================*/
  .about__text p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
    letter-spacing: 0.16em;
  }

  .about-image {
    width: auto;
    height: 100%;
    overflow: hidden;
    aspect-ratio: 5 / 7;
    border-radius: 20px;
    margin-top: 22px;
  }

  .about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .about-link,
  .faq-link {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: end;
    column-gap: 30px;
    font-size: 24px;
    letter-spacing: 0.16em;
    font-weight: 500;
    width: fit-content;
    height: 50px;
    margin: 0 0 0 auto;
    cursor: pointer;
  }

  .about-link__arrow,
  .faq-link__arrow {
    width: auto;
    height: 34px;
  }

  /*==============================================================
    　　ご利用について
  ==============================================================*/
  .guide-list {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    text-align: center;
    row-gap: 20px;
  }

  .guide-item {
    box-shadow: 0 0 4px #0000001f;
    margin: 0 30px;
    aspect-ratio: 1 / 1;
    border-radius: 20px;
  }

  .guide-item a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 30px;
    display: grid;
    place-content: center;
    place-items: center;
  }

  .guide-item__icon {
    width: auto !important;
    height: 120px !important;
  }

  .guide-item__title {
    font-family: var(--font-ja);
    font-size: 17px;
    margin-top: 30px;
    letter-spacing: 0.25em;
    font-weight: 500;
  }

  /*==============================================================
    　　お客様の声
  ==============================================================*/
  .sec.review {
    padding: 30px 0;
  }

  .review-swiper {
    padding: 3px 0;
  }

  .review .swiper-slide {
    /* min-width: 250px; */
    box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.2);
    /* box-shadow: 0 0 4px rgb(0 0 0 / .2); */
    aspect-ratio: 3 / 4;
    border-radius: 20px;
  }

  .review .swiper-slide a {
    position: relative;
  }

  .review__text-box {
    position: absolute;
    bottom: 30px;
    left: 24px;
    color: var(--color-text-white);
    /* min-width: 90%; */
  }

  .review-title {
    font-size: 18px;
    font-weight: 550;
    margin-bottom: 4px;
    white-space: nowrap;
  }

  .review-personal {
    font-size: 13px;
    white-space: nowrap;
  }

  .review-image {
    width: auto;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
  }

  .review-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .review-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  /* 準備中 */
  .review-image.soon {
    position: relative;
  }

  .review-image.soon img {
    filter: brightness(50%);
  }

  .review-image.soon:before {
    content: "準備中";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    text-align: center;
    align-content: center;
    font-size: 21px;
    font-weight: 550;
    letter-spacing: 0.2em;
    border-radius: 20px;
    z-index: 9;
  }



  /* 矢印共通 */
  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: none;
  }
  /* 次のスライドがない時 */
  .swiper-button-next,
  .swiper-button-prev {
    transition: opacity 0.3s ease;
  }
  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
  }

  /* 右矢印 */
  .swiper-button-next img {
    width: 45px;
    height: 45px;
    margin-right: 30px;
    margin-bottom: 0px;
    transform: rotate(-90deg);
  }

  /* 左矢印 */
  .swiper-button-prev img {
    width: 45px;
    height: 45px;
    transform: scale(-1, 1);
    margin-left: 30px;
    margin-bottom: 0px;
    transform: rotate(90deg);
  }
  .swiper-button-next,
  .swiper-button-prev {
    z-index: 10; /* グラデーションより前面に出す */
  }

  /*==============================================================
    　　よくある質問
  ==============================================================*/
  .faq .section-title {
    background-color: var(--color-faq);
  }

  .faq-toggle {
    display: none;
  }

  .faq-box {
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 30px;
  }
  .faq-box .faq-item {
    background-color: var(--color-bg-faq);
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .faq-title {
    display: block;
    padding: 30px 16px 30px 16px;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.6;
    display: flex;
    font-size: 16px;
    align-items: center;
    letter-spacing: .184em;
    color: var(--color-text-base);
  }

  .faq-item__arrow {
    position: absolute;
    top: 38px;
    right: 16px;
    width: 25px;
    height: 25px;
    transition: all 0.3s;
    margin: auto 0;
    transform: rotate(90deg);
  }

  .faq-box .title-text {
    letter-spacing: .073em;
    line-height: 1.5;
    /* margin-top: -1px; */
    align-items: start;
    font-size: 16px;
    font-weight: 600;
    margin-right: 14px;
  }

  .text-Q,
  .faq-A {
    display: flex;
  }

  .text-Q {
    width: 100%;
    padding-top: 4px;
  }

  .text-Q__num {
    /* font-family: var(--font-en); */
    line-height: 1.3;
    margin-right: 10px;
    margin-top: -1.5px;
    font-size: 20px;
    letter-spacing: 0.03em;
    font-weight: 500;
  }

  .text-A__num {
    /* font-family: var(--font-en); */
    margin-right: 10px;
    font-weight: 450;
    color: var(--color-text-sub);
    font-size: 20px;
    margin-left: 2px;
    margin-top: -5px;
  }

  .faq-content {
    max-height: 0;
    overflow: hidden;
  }

  .faq-content .con-text a {
    color: var(--color-text-accent);
    font-weight: bold;
    line-height: 2.3;
  }

  .faq-content .con-text .margin-bottom {
    margin-bottom: 24px;
  }

  .faq-content .faq-A {
    line-height: 1.71;
    letter-spacing: .073em;
    padding: 8px 16px 34px;
    font-weight: 400;
    font-size: 14px;
    margin-top: -4px;
  }

  .faq-content {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all 0.3s;
  }

  .faq-toggle:checked + .faq-title + .faq-content {
    max-height: 500px;
    transition: all 1.5s;
  }

  .faq-title {
    position: relative;
  }

  /* トグルアイコン */
  .faq-icon {
    display: grid;
    place-items: center;
    width: 25px;
    height: 25px;
    flex-shrink: 0;
    position: relative;
    margin-left: 14px;
    top: -2px;
    flex-shrink: 0;
    margin: 0 0 0 auto;
    transition: transform .4s;
  }

  .faq-toggle:checked + .faq-title .faq-icon {
    transform: rotate(180deg);
  }

}


@media screen and (min-width: 640px) {
  /* タブレット用レイアウト 640px以上の範囲に収めるデザインはこの中に記述 */
  .sp-only {
    display: none;
  }

  #strengths,
  #availability,
  #review {
    scroll-margin-top: 40px;
  }
  /*==============================================================
    　　TB_ヒーロー
  ==============================================================*/
  .hero__image {
    margin-top: 114px;
    height: 634px;
    margin-left: 56px;
    border-radius: 160px 0 0 0;
  }

  .hero-swiper {
    padding-bottom: 50px;
  }

  /* ドット */
  .hero-swiper .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 12px !important;
  }

  /*==============================================================
    　　TB_こんなお悩みありませんか？
  ==============================================================*/
  .concerns .section-title__ja {
    font-size: 33px;
    letter-spacing: 0.4em;
  }

  .concerns-list {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
    margin-top: 80px;
  }

  .concerns-item__text-bg {
    width: 300px;
    padding: 40px 20px;
    font-size: 17px;
    line-height: 2.2;
    border-radius: 16px;
  }

  /*==============================================================
    　　TB_選ばれてる理由
  ==============================================================*/
  .strengths-item {
    margin-bottom: 0;
  }

  .strengths-list {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    column-gap: 40px;
    row-gap: 44px;
    margin: 0 20px;
  }

  .strengths-item__image {
    width: 100%;
    height: auto;
    overflow: hidden;
    aspect-ratio: 9 / 7;
    border-radius: 20px;
  }

  /*==============================================================
    　　TB_てのひらについて
  ==============================================================*/
  .about {
    margin: 0 20px;
  }

  .about__text p {
    font-size: 16px;
    line-height: 2.1;
    margin-bottom: 20px;
    letter-spacing: 0.16em;
  }

  .about-image {
    width: auto;
    height: 100%;
    overflow: hidden;
    aspect-ratio: 5 / 7;
    border-radius: 20px;
    margin-top: 60px;
  }

  .about-link,
  .faq-link {
    column-gap: 34px;
    font-size: 28px;
    margin-top: 60px;
  }

  .about-link__arrow,
  .faq-link__arrow {
    height: 50px;
  }

  /*==============================================================
    　　TB_ご利用について
  ==============================================================*/
  .guide-list {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    margin: 0 20px;
  }

  .guide-item {
    margin: 0;
  }

  .guide-item__icon {
    width: auto !important;
    height: 130px !important;
  }

  .guide-item__title {
    font-size: 20px;
    margin-top: 56px;
    letter-spacing: 0.25em;
  }

  /*==============================================================
    　　TB_お客様の声
  ==============================================================*/
  .sec.review {
    padding-top: 120px;
  }

  .review-swiper {
    padding: 0 40px 100px;
  }

  .review__text-box {
    bottom: 40px;
    left: 30px;
  }

  .review-title {
    font-size: 23px;
  }

  .review-personal {
    font-size: 14px;
  }

  /* 準備中 */
  .review-image.soon:before {
    font-size: 24px;
    letter-spacing: 0.3em;
  }

  /* 矢印 */
  .swiper-arrows {
    position: absolute;
    right: 20px;
    bottom: 30px;
    display: flex;
    z-index: 10;
  }
  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    opacity: 0.4;
  }

  /* 右矢印 */
  .swiper-button-next img {
    width: 60px;
    height: 60px;
    margin-right: 70px;
    margin-bottom: 0px;
  }

  /* 左矢印 */
  .swiper-button-prev img {
    width: 60px;
    height: 60px;
    transform: scale(-1, 1);
    margin-bottom: 0px;
    margin-left: -355px;
    transform: rotate(90deg);
  }

  /*==============================================================
    　　TB_よくある質問
  ==============================================================*/
  .faq {
    margin: 0 20px;
  }

  .faq-box .faq-item {
    margin-bottom: 30px;
  }

  .faq-title {
    padding: 30px;
  }

  .faq-box .title-text {
    font-size: 18px;
    padding-top: 6px;
    letter-spacing: 0.1em;
  }

  .text-Q {
    margin-top: 0;
  }

  .text-Q__num {
    margin-right: 16px;
    margin-top: 5px;
    font-weight: 500;
    font-size: 21px;
  }

  .text-A__num {
    margin-right: 18px;
    font-size: 21px;
    margin-left: 2px;
    margin-top: -4px;
  }

  .faq-content .faq-A {
    padding: 0 30px 40px;
    font-size: 17px;
    margin-top: -3px;
    letter-spacing: 0.1em;
  }

  /* トグルアイコン */
  .faq-icon {
    width: 40px;
    height: 40px;
  }



}


@media screen and (min-width: 1024px) {
  /* パソコン用レイアウト 1024px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
    　　PC_ヒーロー
  ==============================================================*/


  /*==============================================================
    　　PC_こんなお悩みありませんか？
  ==============================================================*/
  .concerns-list {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 80px;
  }

  .concerns-item__text-bg {
    width: 230px;
    font-size: 14.5px;
  }

  .concerns-item__img {
    height: 200px;
    margin-top: 46px;
  }

  /*==============================================================
    　　PC_選ばれてる理由
  ==============================================================*/
  .strengths-list {
    column-gap: 100px;
    row-gap: 80px;
    margin: 0;
  }

  .strengths-lead {
    padding: 70px 0 35px 40px;
  }

  .strengths-lead__title {
    font-size: 28px;
    margin-bottom: 20px;
  }

  .strengths-lead__text {
    font-size: 16px;
    line-height: 1.6;
    font-weight: 550;
  }

  /*==============================================================
    　　PC_てのひらについて
  ==============================================================*/
  .about {
    margin: 0 auto;
  }

  .about-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    column-gap: 40px;
  }

  .about-link {
    grid-column: 1;
    grid-row: 2;
    margin-top: 10px;
  }

  .about-image {
    grid-column: 2;
    grid-row: 1 / 3;
    margin-top: 0;
  }

  /*==============================================================
    　　PC_ご利用について
  ==============================================================*/
  .guide-list {
    gap: 80px;
    margin: 0 20px;
  }

  .guide-item__icon {
    height: 200px !important;
    margin-top: 20px;
  }

  .guide-item__title {
    margin-top: 80px;
  }

  /*==============================================================
    　　PC_お客様の声
  ==============================================================*/
  .sec.review {
    margin: 0;
    max-width: none;
  }

  .review-swiper {
    padding: 0 50px 120px;
  }

  .review-title {
    font-size: 28px;
    margin-bottom: 8px;
  }

  /* 準備中 */
  .review-image.soon:before {
    font-size: 28px;
  }

  /*==============================================================
    　　PC_よくある質問
  ==============================================================*/
  .faq {
    margin: 0 auto;
  }

  .faq-link {
    margin-top: 80px;
  }

  .faq-box .title-text {
    letter-spacing: 0.14em;
  }

  .faq-content .faq-A {
    letter-spacing: 0.14em;
    line-height: 1.7;
  }



}

@media screen and (min-width: 1400px) {
  /* PC全画面用レイアウト 1400px以上の範囲に収めるデザインはこの中に記述 */
  /*==============================================================
    　　PC-big_ヒーロー
  ==============================================================*/
  .hero__image {
    height: 100vh;
    margin-left: 80px;
    border-radius: 300px 0 0 0;
  }

  .hero-swiper {
    padding-bottom: 60px;
    margin-bottom: 40px;
  }

  /* ドット */
  .hero-swiper .swiper-pagination-bullet {
    width: 14px;
    height: 14px;
    margin: 0 18px !important;
  }

  /*==============================================================
    　　PC-big_てのひらについて
  ==============================================================*/
  /*======== アニメーション ========*/
  /* 詳しく見るリンク */
  .about-link,
  .faq-link {
    transition: all 0.3s ease;
  }
  .about-link svg,
  .faq-link svg {
    transition: all 0.3s ease;
  }

  .about-link:hover,
  .faq-link:hover {
    opacity: 0.65;
  }

  .about-link:hover svg,
  .faq-link:hover svg {
    margin-right: -10px;
    transform: scaleX(1.05);
  }

  /*==============================================================
    　　PC-big_ご利用について
  ==============================================================*/
  /*======== アニメーション ========*/
  .guide-item a {
    transition: all 0.3s ease;
  }

  .guide-item a:hover {
    opacity: 0.65;
  }



  /*==============================================================
    　　PC-big_お客様の声
  ==============================================================*/
  .review-swiper {
    padding: 0 200px 130px;
  }

  .review__text-box {
    bottom: 60px;
    left: 44px;
  }

  .review-title {
    font-size: 33px;
    margin-bottom: 8px;
  }

  .review-personal {
    font-size: 16px;
  }

  /* 準備中 */
  .review-image.soon:before {
    font-size: 32px;
  }

  /* 次のスライドがない時 */
  .swiper-button-next {
    right: 200px;
  }

  .swiper-button-prev {
    left: -340px;
  }

  /* 右矢印 */
  .swiper-button-next img {
    margin-right: 0;
  }
  /* 左矢印 */
  .swiper-button-prev img {
    margin-left: 0;
  }


  /*======== アニメーション ========*/
  .swiper-slide a,
  .swiper-button-next img,
  .swiper-button-prev img {
    transition: all 0.3s ease;
  }

  .swiper-slide a:hover,
  .swiper-button-next img:hover,
  .swiper-button-prev img:hover {
    opacity: 0.65;
  }

  .swiper-slide.slide-02 a:hover,
  .swiper-slide.slide-03 a:hover,
  .swiper-slide.slide-04 a:hover {
    opacity: 1;
  }

  /*==============================================================
    　　PC-big_よくある質問
  ==============================================================*/
  /*======== アニメーション ========*/
  .faq-title .text-Q__num,
  .faq-title .title-text {
    transition: all 0.3s ease;
  }

  .faq-title:hover .text-Q__num,
  .faq-title:hover .title-text {
    opacity: 0.65;
  }



}